# Object files
*.o
*.ko
*.d
*.obj
*.cmf
*.hxl
*.lst
*.sdb
*.sym
*.cmf
*.hxl
*.lst
*.sdb
*.rlf
*.sdb
*.sym

# Libraries
*.lib
*.a

# Executables
*.elf

# MPLABX files
*.mk
*.properties
*.bash
*.map

# Build directory
build/
*.obj
funclist